In [2]:
import numpy as np
import pandas as pd

In [3]:
#setting the random seed for reproducibility

np.random.seed(42)

In [4]:
#we decide on the number of customers we want. Let's say 500
num_customers = 500

In [5]:
#Generating synthetic data 
customerIds = np.arange(1, num_customers+1)
genders = np.random.choice(['Male','Female'], size= num_customers)
ages = np.random.randint(18, 70, size=num_customers)
annual_incomes = np.random.randint(20000, 150000, size=num_customers)
spending_scores = np.random.randint(1, 101, size=num_customers)

# Create a DataFrame
customer_data = pd.DataFrame({
    'CustomerID': customerIds,
    'Gender': genders,
    'Age': ages,
    'AnnualIncome': annual_incomes,
    'SpendingScore': spending_scores
})

# Ensure data types
customer_data = customer_data.astype({
    'CustomerID': 'int64',
    'Gender': 'object',
    'Age': 'int64',
    'AnnualIncome': 'int64',
    'SpendingScore': 'int64'
})

# Save the DataFrame to a CSV file
customer_data.to_csv('synthetic_customer_data.csv', index=False)

print("Synthetic customer data generated and saved to 'synthetic_customer_data.csv'")

Synthetic customer data generated and saved to 'synthetic_customer_data.csv'

In [6]:
data = pd.read_csv('synthetic_customer_data.csv')

In [7]:
data.head()

   CustomerID  Gender  Age  AnnualIncome  SpendingScore
0           1    Male   38         81886             57
1           2  Female   49         95745             26
2           3    Male   40        103251             41
3           4    Male   50        114456             35
4           5    Male   20         73413             63

In [9]:
data.shape

(500, 5)

In [10]:
data.describe()

       CustomerID         Age  AnnualIncome  SpendingScore
count  500.000000  500.000000     500.00000     500.000000
mean   250.500000   43.800000   85611.88000      50.742000
std    144.481833   14.835504   39845.53216      29.071735
min      1.000000   18.000000   20055.00000       1.000000
25%    125.750000   31.000000   48723.75000      25.750000
50%    250.500000   44.000000   88011.50000      51.000000
75%    375.250000   56.000000  121607.75000      75.250000
max    500.000000   69.000000  149922.00000     100.000000

In [11]:
data.isnull().sum()

CustomerID       0
Gender           0
Age              0
AnnualIncome     0
SpendingScore    0
dtype: int64

In [12]:
#We can drop that we will not need in the segmentation, like the CustomerId
data.drop(['CustomerID'], axis=1, inplace=True)